.AppHeader {
  background-color: aquamarine;
  position: absolute;
  top: 0;
  width: 100%;
}

.AppHeader > div {
  max-width: 800px;
  margin: 0 auto;
}

main {
  padding-top: 100px;
}

.AppFooter {
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.AppFooter > div {
  max-width: 800px;
  margin: 0 auto;
}
